<appSettings>
  <add key="country" value="MY"/>
  <add key="Environment" value="test"/>
  <add key="S3ImagePath" value="http://assets.newlaunch.ippstatic.com/test/" />
  <add key="S3ImageCommonPath" value="http://assets.newlaunch.ippstatic.com/common/"/>
  <add key="staticpath" value="~/static/"/>
  <add key="cssdomain" value="~/static/css/" />
  <add key="bootstrapdomain" value="~/static/bootstrap/" />
  <add key="jsdomain" value="~/static/js/" />
  <add key="GoogleAnalyticID" value="UA-182004-75"/>
  <add key="GoogleMapKey" value="AIzaSyD5EjKUIqYVggy3l2jiHnQO_Iq8y8mO3xI"/>
  <add key="ShareThisKey" value="1db05a29-e76b-4005-91a7-1ee5acc74fc3"/>
  <add key="Currency" value="RM"/>
  <add key="NearbyURL" value="http://beta.iproperty.com.my/propertynearby/{amenityID}/z/{amenityName}-ForSale" />
  <add key="LoanInterest" value="5.6"/>
  <add key="MainSiteUrl" value="http://beta.iproperty.com.my/"/>    
  <add key="MemberServiceUrl" value="http://api.iproperty.com/god/MemberServices.asmx"/>
  <add key="LeadServiceUrl" value="http://api.iproperty.com/god/LeadServices.asmx"/>
  <add key="RootDomain" value=".iproperty.com.my"/>
  <add key="EnableBundle" value="false"/>

  <!--iProp API -->
  <add key="ApiVersion" value="1" />
  <add key="ApiCountrycode" value="1" />
  <add key="ApiUsername" value="mao5bpi6lie" />
  <add key="ApiPassword" value="j!a5r0r@y" />
  <add key="ApiRequestSource" value="4" />  
  <!--end of iProp API -->
  
  <!--SES Mail-->
  <add key="TestEmail" value="chenhau.khoo@iproperty.com"/>
  <add key="EmailHost" value ="email-smtp.us-east-1.amazonaws.com"/>
  <add key="EmailUsername" value ="AKIAISRTY5X3O7FHIRUA"/>
  <add key="EmailPassword" value ="AiV06J1XPeDVerwq3ULnlFnM62XeOhXllZf/52IEj/Rz"/>
  <add key="EmailPort" value ="587"/>
  <add key="EmailEnableSSL" value = "1"/>  <!--0 - Disable , 1 - Enable-->
  <add key="EmailSubjectNotication" value ="Newlaunch (MY) Notification - " />
  <add key="EmailSubjectError" value ="Newlaunch (MY) Error - " />
  <add key="SystemFrom" value ="developermy.newlaunch@iproperty.com"/>
  <add key="SystemEmailTo" value ="developers.log@iproperty.com"/>
  <!--SES Mail-->

</appSettings>