<connectionStrings>

  <add name="shopDB" connectionString="Data Source=localhost;Initial Catalog=ShopDB;Persist Security Info=True;User ID=sa;Password=cabal92000;Max Pool Size=1000" providerName="System.Data.SqlClient" />
  <add name="ShopDBEntities" connectionString="metadata=res://*/DAL.ShopModel.csdl|res://*/DAL.ShopModel.ssdl|res://*/DAL.ShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYNB097;initial catalog=ShopDB;persist security info=True;user id=sa;password=cabal92000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
</connectionStrings>