<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/plugin/bootstrap.css" />
    <include path="~/Content/plugin/bootstrap-style.css" />
    <include path="~/Content/plugin/font-awesome.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/custom.css" />
    <include path="~/Content/header.css" />
    <include path="~/Content/newHome.css" />
    <include path="~/Content/footer.css" />
  </styleBundle>
  <styleBundle path="~/Content/css/item">
    <include path="~/Content/css/bootstrap.css" />
    <include path="~/Content/css/animate.min.css" />
    <include path="~/Content/css/ddlevelsmenu-base.css" />
    <include path="~/Content/css/ddlevelsmenu-topbar.css" />
    <include path="~/Content/css/jquery.countdown.css" />
    <include path="~/Content/css/font-awesome.css" />
    <include path="~/Content/css/style.css" />
  </styleBundle>
</bundles>