<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/plugin/bootstrap.css" />
    <include path="~/Content/plugin/font-awesome.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/custom.css" />
    <include path="~/Content/header.css" />
    <include path="~/Content/home.css" />
    <include path="~/Content/footer.css" />
  </styleBundle>
</bundles>